<!DOCTYPE html>
<html>
<head>
    <title>Agregar Evento</title>
</head>

<body>
	<form action="../events" method="post">
	<h1>Agregar Evento</h1>
    nombre: <input type="text" name="nombre"/>
    Fecha: <input type="date" name="fecha"/>
    descripcion: <input type="text" name="descripcion"/>
    lugar: <input type="text" name="place"/>
</form>

</body>

</html>